<html>
<head>
<title>Fan Radio - Release Notes</title>
<style>
* { font-family: serif; font-size:11pt; }
h1 { font-family: sans-serif; background-color: #83bf73; padding: 2pt; font-size:13pt; color: white; -webkit-border-radius: 5pt; }
h1 span { font-weight: normal; float: right; }
h2 { font-size:12pt; }
</style>
</head>
<body>
<%= release_notes_html %>
</body>
</html>